blog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/popper.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>
    <!--link(rel="stylesheet", type="text/css", href="assets/css/all.css")-->
    <!--script(type="text/javascript", src="assets/js/all.js")-->
  </head>
  <body>
    <header class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <nav class="navbar navbar-expand-md navbar-light mb-header"><a href="/" class="navbar-brand"><img src="assets/img/logo.png" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-sm-down"><img src="assets/img/logo_min.svg" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-md-up"></a>
            <button data-toggle="modal" data-target="#modal-nav" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarText" class="collapse navbar-collapse flex-column">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
                <!--li.nav-item-->
                <!--  a.nav-link(href='/blog.html') Блог-->
                <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
              </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div id="modal-nav" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column justify-content-end">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4 ml-auto"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-body">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
              <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
              <!--li.nav-item-->
              <!--  a.nav-link(href='/blog.html') Блог-->
              <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
            </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
          </div>
        </div>
      </div>
    </div>
    <main class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex justify-content-center">
            <h4 class="mb-4">Страница 1</h4><a href="#" class="next">Следующая страница ></a>
          </div>
          <div class="row blogs">
            <div class="col-sm-12 col-md-4 col-lg-4 mb-3 item">
              <div class="row">
                <div class="col-6 col-sm-12"><img src="assets/upload/blog01.jpg" class="img-fluid"></div>
                <div class="col-6 col-lg-12">
                  <p>Ресторанный этикет: как правильно есть хлеб и пользоваться специями</p>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 item"><img src="assets/upload/blog01.jpg" class="img-fluid hidden-sm-down">
              <p>Отчет о мастер-классе в Риге</p>
              <hr>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 item"><img src="assets/upload/blog01.jpg" class="img-fluid hidden-sm-down">
              <p>Алкогольный этикет: 5 важных правил</p>
              <hr>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 item"><img src="assets/upload/blog01.jpg" class="img-fluid hidden-sm-down">
              <p>Ресторанный этикет: правила, которые все нарушают</p>
              <hr>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 item"><img src="assets/upload/blog01.jpg" class="img-fluid hidden-sm-down">
              <p>Ресторанный этикет: как правильно есть хлеб и пользоваться специями</p>
              <hr>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 item"><img src="assets/upload/blog01.jpg" class="img-fluid hidden-sm-down">
              <p>Ресторанный этикет: как правильно есть хлеб и пользоваться специями</p>
            </div>
          </div>
          <nav aria-label="Page navigation example" class="mt-3">
            <ul class="pagination justify-content-center">
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">6</a></li>
              <li class="page-item"><a href="#" class="page-link">7</a></li>
              <li class="page-item"><a href="#" class="page-link">8</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <aside class="right-side text-center"><img src="/assets/upload/04.jpg" alt="Изображение 03"></aside>
  </body>
</html>

source/jade/blog.jade
doctype
html(lang='ru')
  include head
  body

    include header
    main.container-fluid
      .row
        .col-lg-6
          .d-flex.justify-content-center
            h4.mb-4 Страница 1
            a(href='#').next Следующая страница >
          .row.blogs
            .col-sm-12.col-md-4.col-lg-4.mb-3.item
              .row
                .col-6.col-sm-12
                  img(src="assets/upload/blog01.jpg").img-fluid
                .col-6.col-lg-12
                  p Ресторанный этикет: как правильно есть хлеб и пользоваться специями
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Отчет о мастер-классе в Риге
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Алкогольный этикет: 5 важных правил
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Ресторанный этикет: правила, которые все нарушают
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Ресторанный этикет: как правильно есть хлеб и пользоваться специями
              hr
            .col-sm-12.col-md-4.col-lg-4.item
              img(src="assets/upload/blog01.jpg").img-fluid.hidden-sm-down
              p Ресторанный этикет: как правильно есть хлеб и пользоваться специями
          nav(aria-label='Page navigation example').mt-3
            ul.pagination.justify-content-center
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') 5
              li.page-item
                a.page-link(href='#') 6
              li.page-item
                a.page-link(href='#') 7
              li.page-item
                a.page-link(href='#') 8

    aside.right-side.text-center
       img(src="/assets/upload/04.jpg" alt='Изображение 03')


    include footer
