contact.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/popper.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>
    <!--link(rel="stylesheet", type="text/css", href="assets/css/all.css")-->
    <!--script(type="text/javascript", src="assets/js/all.js")-->
  </head>
  <body>
    <header class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <nav class="navbar navbar-expand-md navbar-light mb-header"><a href="/" class="navbar-brand"><img src="assets/img/logo.png" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-sm-down"><img src="assets/img/logo_min.svg" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-md-up"></a>
            <button data-toggle="modal" data-target="#modal-nav" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarText" class="collapse navbar-collapse flex-column">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
                <!--li.nav-item-->
                <!--  a.nav-link(href='/blog.html') Блог-->
                <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
              </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div id="modal-nav" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column justify-content-end">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4 ml-auto"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-body">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
              <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
              <!--li.nav-item-->
              <!--  a.nav-link(href='/blog.html') Блог-->
              <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
            </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
          </div>
        </div>
      </div>
    </div>
    <main class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-justify mb-5">
            <div class="table">
              <table>
                <tbody>
                  <tr>
                    <td>Телефон:</td>
                    <td>8 (926) 674-66-26</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>olgamerts@yandex.ru</td>
                  </tr>
                  <tr>
                    <td>Skype:</td>
                    <td>olgamerts</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-justify mb-3">
            <p>Для меня очень важен комфорт гостей, поэтому для занятий, семинаров и мини-групп я выбираю небольшие уютные площадки в шаговой доступности от метро и с возможностью парковки, в которых участники мероприятий будут чувствовать себя максимально уютно.</p>
          </div>
        </div>
      </div>
    </main>
    <aside class="right-side text-center"><img src="/assets/upload/03.jpg" alt="Изображение 03"></aside>
  </body>
</html>

source/jade/contact.jade
doctype
html(lang='ru')
  include head
  body

    include header
    main.container-fluid
      .row
        .col-lg-6
          .text-justify.mb-5
            .table
              table
                tbody
                  tr
                    td Телефон:
                    td 8 (926) 674-66-26
                  tr
                    td Email:
                    td olgamerts@yandex.ru
                  tr
                    td Skype:
                    td olgamerts

          .text-justify.mb-3
            p Для меня очень важен комфорт гостей, поэтому для занятий, семинаров и мини-групп я выбираю небольшие уютные площадки в шаговой доступности от метро и с возможностью парковки, в которых участники мероприятий будут чувствовать себя максимально уютно.

    aside.right-side.text-center
       img(src="/assets/upload/03.jpg" alt='Изображение 03')


    include footer
