index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/popper.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>
    <!--link(rel="stylesheet", type="text/css", href="assets/css/all.css")-->
    <!--script(type="text/javascript", src="assets/js/all.js")-->
  </head>
  <body>
    <header class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <nav class="navbar navbar-expand-md navbar-light mb-header"><a href="/" class="navbar-brand"><img src="assets/img/logo.png" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-sm-down"><img src="assets/img/logo_min.svg" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-md-up"></a>
            <button data-toggle="modal" data-target="#modal-nav" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarText" class="collapse navbar-collapse flex-column">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
                <!--li.nav-item-->
                <!--  a.nav-link(href='/blog.html') Блог-->
                <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
              </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div id="modal-nav" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column justify-content-end">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4 ml-auto"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-body">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
              <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
              <!--li.nav-item-->
              <!--  a.nav-link(href='/blog.html') Блог-->
              <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
            </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
          </div>
        </div>
      </div>
    </div>
    <main class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-justify mb-5 m-index">
            <p>Приятно познакомиться! Меня зовут Ольга Мерц, я эксперт по этикету и основатель "Школы Хороших Манер". Окончила курсы этикета при российском посольстве во Франкфурте (Германия), "Высшие курсы этикета" в "Академии имиджа", а также прошла обучение в МГИМО на тему "Этикет как часть протокола". Прошла мастер-классы педагогов по этикету во Франции и работала совместно с "Французским обществом". Веду курс современного этикета в Московском Институте Телевидения и Радиовещания Останкино. Несколько лет назад я разработала собственную программу по визуалистике и коммуникационному этикету, которая помогает людям делать их жизнь еще успешнее, а также основала свою школу.</p>
          </div>
          <div class="text-center mb-3">
            <button data-toggle="modal" data-target="#modal-form" class="btn btn-lg btn-outline-dark mr-3">Обратная связь</button><a href="services.html" class="btn btn-lg btn-dark">Смотреть услуги</a>
          </div>
        </div>
      </div>
    </main>
    <aside class="right-side text-center"><img src="/assets/upload/01.jpg" alt="Изображение 01"></aside>
    <div id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Мы ответим на вашу заявку в течение суток</h5>
          </div>
          <div class="modal-body">
            <form id="form" action="javascript:void(0);">
              <div class="form-group">
                <label for="input-name"></label>
                <input id="input-name" type="text" placeholder="Имя" name="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="input-phone"></label>
                <input id="input-phone" type="text" placeholder="Телефон" name="phone" class="form-control">
              </div>
              <div class="form-group">
                <label for="input-email"></label>
                <input id="input-email" type="email" placeholder="Email" name="email" class="form-control">
              </div>
              <div class="text-center mb-3">
                <input type="submit" value="Отправить" class="btn btn-lg btn-dark font-weight-bold">
              </div>
              <div role="alert" class="alert alert-success hidden-xs-up">Сообщение отправлено</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

source/jade/index.jade
doctype
html(lang='ru')
  include head
  body

    include header
    main.container-fluid
      .row
        .col-lg-6
          .text-justify.mb-5.m-index
            p Приятно познакомиться! Меня зовут Ольга Мерц, я эксперт по этикету и основатель "Школы Хороших Манер". Окончила курсы этикета при российском посольстве во Франкфурте (Германия), "Высшие курсы этикета" в "Академии имиджа", а также прошла обучение в МГИМО на тему "Этикет как часть протокола". Прошла мастер-классы педагогов по этикету во Франции и работала совместно с "Французским обществом". Веду курс современного этикета в Московском Институте Телевидения и Радиовещания Останкино. Несколько лет назад я разработала собственную программу по визуалистике и коммуникационному этикету, которая помогает людям делать их жизнь еще успешнее, а также основала свою школу.
          .text-center.mb-3
            button.btn.btn-lg.btn-outline-dark.mr-3(data-toggle="modal", data-target="#modal-form") Обратная связь
            a.btn.btn-lg.btn-dark(href='services.html') Смотреть услуги

    aside.right-side.text-center
       img(src="/assets/upload/01.jpg" alt='Изображение 01')

    .modal.fade(id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Мы ответим на вашу заявку в течение суток

          .modal-body
            form#form(action="javascript:void(0);")
              .form-group
                label(for='input-name')
                input#input-name.form-control(type='text', placeholder='Имя', name="name")
              .form-group
                label(for='input-phone')
                input#input-phone.form-control(type='text', placeholder='Телефон', name="phone")
              .form-group
                label(for='input-email')
                input#input-email.form-control(type='email', placeholder='Email', name="email")
              .text-center.mb-3
                input.btn.btn-lg.btn-dark.font-weight-bold(type='submit' value='Отправить')
              .alert.alert-success(role='alert').hidden-xs-up
                | Сообщение отправлено
    include footer
