services.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/popper.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>
    <!--link(rel="stylesheet", type="text/css", href="assets/css/all.css")-->
    <!--script(type="text/javascript", src="assets/js/all.js")-->
  </head>
  <body>
    <header class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <nav class="navbar navbar-expand-md navbar-light mb-header"><a href="/" class="navbar-brand"><img src="assets/img/logo.png" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-sm-down"><img src="assets/img/logo_min.svg" width="140" alt="Ольга Мерц" class="d-inline-block align-top hidden-md-up"></a>
            <button data-toggle="modal" data-target="#modal-nav" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarText" class="collapse navbar-collapse flex-column">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
                <!--li.nav-item-->
                <!--  a.nav-link(href='/blog.html') Блог-->
                <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
              </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div id="modal-nav" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column justify-content-end">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4 ml-auto"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-body">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
              <li class="nav-item"><a href="/services.html" class="nav-link">Услуги</a></li>
              <!--li.nav-item-->
              <!--  a.nav-link(href='/blog.html') Блог-->
              <li class="nav-item"><a href="/contact.html" class="nav-link">Контакты</a></li>
            </ul><span class="navbar-text d-flex ml-auto">8 (926) 674-66-26</span><span class="navbar-text d-flex ml-auto"><span>Мой&nbsp;</span><a href="#" class="text-underline">Instagram&nbsp;</a><span>и&nbsp;</span><a href="#" class="text-underline">Facebook</a></span>
          </div>
        </div>
      </div>
    </div>
    <main class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="services text-center mb-5">
            <button data-toggle="modal" data-target="#modal-vizualize" class="btn btn-outline-dark services-left-top">Визуалистика</button>
            <button data-toggle="modal" data-target="#modal-corporate" class="btn btn-outline-dark services-right-top">Корпоративный<br>этикет</button><br>
            <button data-toggle="modal" data-target="#modal-skype" class="btn btn-outline-dark services-left">Skype</button>
            <button data-toggle="modal" data-target="#modal-audit" class="btn btn-outline-dark services-right">Протокольный<br>аудит</button><br>
            <button data-toggle="modal" data-target="#modal-individual" class="btn btn-outline-dark services-left">Индивидуальные<br>встречи</button>
            <button data-toggle="modal" data-target="#modal-seminare" class="btn btn-outline-dark services-right">Семинары</button><br>
            <button data-toggle="modal" data-target="#modal-devichniki" class="btn btn-outline-dark services-left-bottom">Девичники</button>
            <button data-toggle="modal" data-target="#modal-mini" class="btn btn-outline-dark services-right-bottom">Мини-группы</button>
          </div>
          <div class="text-center mb-3">
            <button data-toggle="modal" data-target="#modal-form" class="btn btn-lg btn-dark">Отправить заявку</button>
          </div>
        </div>
      </div>
    </main>
    <aside class="right-side text-center"><img src="/assets/upload/02.jpg" alt="Изображение 02"></aside>
    <div id="modal-vizualize" tabindex="-1" role="dialog" aria-labelledby="modal-vizualize" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Визуалистика</h5>
          </div>
          <div class="modal-body">
            <p>Говорят, что "встречают по одежке", но эта фраза вовсе не об одежде, а о первом впечатлении, которое формируется у людей в первые несколько секунд. Походка, осанка и мимика порой могут рассказать о человеке гораздо больше, чем ему самому бы хотелось. Но то, как нас воспринимают окружающие, как мы видим себя со стороны и выглядим на самом деле — это совершенно разные вещи! Визуалистика неразрывно связана с самопрезентацией. Она важна в любой ситуации: при поступлении в вуз, выходе на работу или знакомстве с новыми людьми. На занятиях визуалистикой мы работаем с мимикой, осанкой, а также говорим о коммуникационных навыках, общении и речи: как правильно выстраивать диалог с разными людьми, как расположить к себе собеседника, не бояться говорить "нет", избегать конфликтов, словом — с достоинством выходить из разных жизненных ситуаций.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-corporate" tabindex="-1" role="dialog" aria-labelledby="modal-corporate" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Корпоративный этикет</h5>
          </div>
          <div class="modal-body">
            <p>Знание корпоративной этики — обязательная составляющая успеха в любой сфере деятельности! Каждому деловому человеку необходимо уметь правильно преподнести и ненавязчиво показать свои сильные стороны. Здесь большую роль играют не только знания и опыт, но и умение хорошо выглядеть согласно определенному поводу (деловая встреча, презентация, форум, деловой ужин, театр, официальные приемы и т.д.), а также вести себя в различных ситуациях (разговор с глазу на глаз, выступление перед широкой аудиторией, деловые переговоры в узком кругу, решение спорных ситуаций, общение с коллегами, вышестоящими и подчиненными и т.п.). Именно в этом и заключается цель корпоративного этикета.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-skype" tabindex="-1" role="dialog" aria-labelledby="modal-skype" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Занятия по skype</h5>
          </div>
          <div class="modal-body">
            <p>Если вы живете в дальних городах и странах или просто хотите сэкономить собственное время, вы можете обучаться у меня удаленно. С сентября этого года я начала проводить занятия по скайпу. Теперь, где бы вы ни находились, мы сможем пообщаться с вами на любые темы онлайн. Минимальная продолжительность занятия 60 минут, стоимость 1000 руб., 1,5 часа - 1500 руб. Желающие могут связаться со мной по skype, и мы обсудим удобное время! </p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-audit" tabindex="-1" role="dialog" aria-labelledby="modal-audit" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Протокольный аудит</h5>
          </div>
          <div class="modal-body">
            <p>Эта услуга похожа на известного всем "тайного покупателя", только в качестве "ревизора" выступаю я. В ходе такого аудита можно выявить все ключевые моменты, начиная от элементарных стандартов вежливости и заканчивая деловым дресс-кодом. Протокольный аудит представляет собой всесторонний анализ деятельности организации. Результатом такой экспертизы становится система предложений, направленных на улучшение работы компании и ее имиджа, а также корректировка тех моментов, от которых во многом зависит успешность ее работы.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-individual" tabindex="-1" role="dialog" aria-labelledby="modal-individual" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Индивидуальные встречи</h5>
          </div>
          <div class="modal-body">
            <p>Индивидуальные занятия помогают быстро и эффективно изучить любую тему. Кто-то сравнивает их с приемом у психолога, потому как в процессе обучения удается охватить многие жизненные вопросы и найти на них ответы. В процессе занятий мы сможем обсудить любые волнующие вас темы. Если у вас есть желание попасть на индивидуально занятие, оставьте заявку, и мы обсудим удобный день и время.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-devichniki" tabindex="-1" role="dialog" aria-labelledby="modal-devichniki" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Девичники</h5>
          </div>
          <div class="modal-body">
            <p>Девичники — самый необычный и интересный формат мероприятий! Это, своего рода закрытый "женский клуб", в рамках которого мы сможем общаться на любые интересующие вас темы в уютной кулуарной обстановке. Вы сможете насладиться не только приятной компанией и беседой, но и атмосферой с ужином с напитками. Приглашаю всех желающих! Обещаю, будет интересно ;)</p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-mini" tabindex="-1" role="dialog" aria-labelledby="modal-mini" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Мини-группы</h5>
          </div>
          <div class="modal-body">
            <p>Этот формат занятий подразумевает встречи в небольшом кругу — не более 5-7 человек. Темы мини-групп всегда разные, поэтому каждый участник может выбирать то, что интересно именно ему: визуалистика, самопрезентация, коммуникация, партнерский этикет и многие другие. Такие занятия позволяют не только получить теоретические знания и навыки, но и научиться применять их на практике.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column align-items-end align-items-md-start">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close mb-4"><span aria-hidden="true" class="d-flex align-items-center"><span class="modal-close-text font-weight-normal mr-3">Закрыть</span><span class="modal-close-icon">×</span></span></button>
          </div>
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Мы ответим на вашу заявку в течение суток</h5>
          </div>
          <div class="modal-body">
            <form id="form" action="javascript:void(0);">
              <div class="form-group">
                <label for="input-name"></label>
                <input id="input-name" type="text" placeholder="Имя" name="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="input-phone"></label>
                <input id="input-phone" type="text" placeholder="Телефон" name="phone" class="form-control">
              </div>
              <div class="form-group">
                <label for="input-email"></label>
                <input id="input-email" type="email" placeholder="Email" name="email" class="form-control">
              </div>
              <div class="text-center mb-3">
                <input type="submit" value="Отправить" class="btn btn-lg btn-dark font-weight-bold">
              </div>
              <div role="alert" class="alert alert-success hidden-xs-up">Сообщение отправлено</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

source/jade/services.jade
doctype
html(lang='ru')
  include head
  body

    include header
    main.container-fluid
      .row
        .col-lg-6
          .services.text-center.mb-5
            button.btn.btn-outline-dark.services-left-top(data-toggle="modal", data-target="#modal-vizualize")
              | Визуалистика
            button.btn.btn-outline-dark.services-right-top(data-toggle="modal", data-target="#modal-corporate")
              | Корпоративный
              br
              | этикет
            br
            button.btn.btn-outline-dark.services-left(data-toggle="modal", data-target="#modal-skype")
              | Skype

            button.btn.btn-outline-dark.services-right(data-toggle="modal", data-target="#modal-audit")
              | Протокольный
              br
              | аудит
            br
            button.btn.btn-outline-dark.services-left(data-toggle="modal", data-target="#modal-individual")
              | Индивидуальные
              br
              | встречи
            button.btn.btn-outline-dark.services-right(data-toggle="modal", data-target="#modal-seminare")
              | Семинары
            br
            button.btn.btn-outline-dark.services-left-bottom(data-toggle="modal", data-target="#modal-devichniki")
              | Девичники

            button.btn.btn-outline-dark.services-right-bottom(data-toggle="modal", data-target="#modal-mini")
              | Мини-группы

          .text-center.mb-3
            button.btn.btn-lg.btn-dark(data-toggle="modal", data-target="#modal-form") Отправить заявку

    aside.right-side.text-center
      img(src="/assets/upload/02.jpg" alt='Изображение 02')

    .modal.fade(id="modal-vizualize" tabindex="-1" role="dialog" aria-labelledby="modal-vizualize" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Визуалистика

          .modal-body
            p Говорят, что "встречают по одежке", но эта фраза вовсе не об одежде, а о первом впечатлении, которое формируется у людей в первые несколько секунд. Походка, осанка и мимика порой могут рассказать о человеке гораздо больше, чем ему самому бы хотелось. Но то, как нас воспринимают окружающие, как мы видим себя со стороны и выглядим на самом деле — это совершенно разные вещи! Визуалистика неразрывно связана с самопрезентацией. Она важна в любой ситуации: при поступлении в вуз, выходе на работу или знакомстве с новыми людьми. На занятиях визуалистикой мы работаем с мимикой, осанкой, а также говорим о коммуникационных навыках, общении и речи: как правильно выстраивать диалог с разными людьми, как расположить к себе собеседника, не бояться говорить "нет", избегать конфликтов, словом — с достоинством выходить из разных жизненных ситуаций.

    .modal.fade(id="modal-corporate" tabindex="-1" role="dialog" aria-labelledby="modal-corporate" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Корпоративный этикет

          .modal-body
            p Знание корпоративной этики — обязательная составляющая успеха в любой сфере деятельности! Каждому деловому человеку необходимо уметь правильно преподнести и ненавязчиво показать свои сильные стороны. Здесь большую роль играют не только знания и опыт, но и умение хорошо выглядеть согласно определенному поводу (деловая встреча, презентация, форум, деловой ужин, театр, официальные приемы и т.д.), а также вести себя в различных ситуациях (разговор с глазу на глаз, выступление перед широкой аудиторией, деловые переговоры в узком кругу, решение спорных ситуаций, общение с коллегами, вышестоящими и подчиненными и т.п.). Именно в этом и заключается цель корпоративного этикета.

    .modal.fade(id="modal-skype" tabindex="-1" role="dialog" aria-labelledby="modal-skype" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Занятия по skype

          .modal-body
            p Если вы живете в дальних городах и странах или просто хотите сэкономить собственное время, вы можете обучаться у меня удаленно. С сентября этого года я начала проводить занятия по скайпу. Теперь, где бы вы ни находились, мы сможем пообщаться с вами на любые темы онлайн. Минимальная продолжительность занятия 60 минут, стоимость 1000 руб., 1,5 часа - 1500 руб. Желающие могут связаться со мной по skype, и мы обсудим удобное время! 

    .modal.fade(id="modal-audit" tabindex="-1" role="dialog" aria-labelledby="modal-audit" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Протокольный аудит

          .modal-body
            p Эта услуга похожа на известного всем "тайного покупателя", только в качестве "ревизора" выступаю я. В ходе такого аудита можно выявить все ключевые моменты, начиная от элементарных стандартов вежливости и заканчивая деловым дресс-кодом. Протокольный аудит представляет собой всесторонний анализ деятельности организации. Результатом такой экспертизы становится система предложений, направленных на улучшение работы компании и ее имиджа, а также корректировка тех моментов, от которых во многом зависит успешность ее работы.

    .modal.fade(id="modal-individual" tabindex="-1" role="dialog" aria-labelledby="modal-individual" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Индивидуальные встречи

          .modal-body
            p Индивидуальные занятия помогают быстро и эффективно изучить любую тему. Кто-то сравнивает их с приемом у психолога, потому как в процессе обучения удается охватить многие жизненные вопросы и найти на них ответы. В процессе занятий мы сможем обсудить любые волнующие вас темы. Если у вас есть желание попасть на индивидуально занятие, оставьте заявку, и мы обсудим удобный день и время.

    .modal.fade(id="modal-devichniki" tabindex="-1" role="dialog" aria-labelledby="modal-devichniki" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Девичники

          .modal-body
            p Девичники — самый необычный и интересный формат мероприятий! Это, своего рода закрытый "женский клуб", в рамках которого мы сможем общаться на любые интересующие вас темы в уютной кулуарной обстановке. Вы сможете насладиться не только приятной компанией и беседой, но и атмосферой с ужином с напитками. Приглашаю всех желающих! Обещаю, будет интересно ;)

    .modal.fade(id="modal-mini" tabindex="-1" role="dialog" aria-labelledby="modal-mini" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Мини-группы

          .modal-body
            p Этот формат занятий подразумевает встречи в небольшом кругу — не более 5-7 человек. Темы мини-групп всегда разные, поэтому каждый участник может выбирать то, что интересно именно ему: визуалистика, самопрезентация, коммуникация, партнерский этикет и многие другие. Такие занятия позволяют не только получить теоретические знания и навыки, но и научиться применять их на практике.

    .modal.fade(id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.flex-column.align-items-end.align-items-md-start
            button.close.mb-4(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true').d-flex.align-items-center
                span.modal-close-text.font-weight-normal.mr-3 Закрыть
                span.modal-close-icon ×
          .modal-header
            h5.modal-title.font-weight-bold Мы ответим на вашу заявку в течение суток

          .modal-body
            form#form(action="javascript:void(0);")
              .form-group
                label(for='input-name')
                input#input-name.form-control(type='text', placeholder='Имя', name="name")
              .form-group
                label(for='input-phone')
                input#input-phone.form-control(type='text', placeholder='Телефон', name="phone")
              .form-group
                label(for='input-email')
                input#input-email.form-control(type='email', placeholder='Email', name="email")
              .text-center.mb-3
                input.btn.btn-lg.btn-dark.font-weight-bold(type='submit' value='Отправить')
              .alert.alert-success(role='alert').hidden-xs-up
                | Сообщение отправлено



    include footer
